@font-face {
    font-family: 'Geist Mono';
    src: url('../src/GeistMono.ttf');
    font-optical-sizing: auto;
    font-style: normal;
}


html {
    background-color: #004cbd;
    background: var(--c);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Geist Mono', monospace;
    font-size: 16px;
}

nav {
    gap: -1px;
    height: auto;
    display: flex;
    margin-bottom: -1px;
    border-left: 1px solid white;
}

.nv-i {
    border: 1px solid white;
    text-decoration: none;
    color: white;
    padding: 4.5px 10px;
    box-sizing: border-box;
    background-color: #004cbd;
    background: var(--c);
    border-left: none;
    text-transform: uppercase;
}

.nv-i.sel,
.nv-i:hover {
    background: white;
    color: #004cbd;
    color: var(--c);
    font-weight: 500;
}

#content {
    width: 500px;
    height: 350px;
    border: 1px solid white;
    position: relative;
    padding: 10px 10px 0px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--c);
    box-sizing: border-box;
    font-size: 12px;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}


i[r] {
    display: block;
    width: 279px;
    height: 56px;
    background: url('../src/logos/blade0.net.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

i[a] {
    display: block;
    width: 126px;
    height: 50px;
    background: url('../src/logos/about.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
